body {
    font-family: Myriad, Helvetica, Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14pt;   
}
table {
    font-family: Myriad, Helvetica, Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14pt;   
}

img {
   border:2px solid #888888;
}