body {
    font-family: Helvetica, Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 10pt;   
}
table {
    font-family: Helvetica, Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 10pt;   
}

img {
   border:2px solid #888888;
}